All the **imports** **bold text**

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [0]:
data2015=pd.read_csv('2015.csv')
data2016=pd.read_csv('2016.csv')
data2017=pd.read_csv('2017.csv')

In [52]:
data2015.info()
type(data2015)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

pandas.core.frame.DataFrame

In [53]:
data2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [54]:
data2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [55]:
ar1=data2015.columns
data2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [56]:
ar2=data2016.columns
data2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [58]:
ar3=data2017.columns
data2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [59]:
set(ar1)-set(ar2)
print(set(ar1)-set(ar3))

{'Trust (Government Corruption)', 'Health (Life Expectancy)', 'Economy (GDP per Capita)', 'Region', 'Dystopia Residual', 'Happiness Score', 'Standard Error', 'Happiness Rank'}

In [0]:
data2017.rename(columns={'Happiness.Rank':'Happiness Rank',
                         'Happiness.Score':'Happiness Score',
                         'Economy..GDP.per.Capita.':'Economy (GDP per Capita)',
                         'Health..Life.Expectancy.':'Health (Life Expectancy)',
                         'Trust..Government.Corruption.':'Trust (Government Corruption)',
                         'Dystopia.Residual':'Dystopia Residual'},inplace=True)

In [0]:
data2016['Standard Error']=(data2016['Upper Confidence Interval']-data2016['Lower Confidence Interval'])/2

In [62]:
data2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
 13  Standard Error                 157 non-null    float64
dtypes: float64(11), int64(1), object(2)
memory usage: 17.3+ KB

In [63]:
data2016.drop(columns=['Lower Confidence Interval','Upper Confidence Interval'],axis=1)

         Country  ... Standard Error
0        Denmark  ...          0.066
1    Switzerland  ...          0.081
2        Iceland  ...          0.168
3         Norway  ...          0.077
4        Finland  ...          0.062
..           ...  ...            ...
152        Benin  ...          0.080
153  Afghanistan  ...          0.072
154         Togo  ...          0.111
155        Syria  ...          0.133
156      Burundi  ...          0.173

[157 rows x 12 columns]

**Countries with happiness score more than 5**

In [64]:
countries=data2015[data2015['Happiness Score']>5.0]['Country']
print('Countries with happiness score more than 5')
print(countries)

Countries with happiness score more than 5
0           Switzerland
1               Iceland
2               Denmark
3                Norway
4                Canada
            ...
88               Latvia
89          Philippines
90    Somaliland region
91              Morocco
92            Macedonia
Name: Country, Length: 93, dtype: object

**Unhappiest Country in Sub Saharan Africa Region**

In [65]:
a=data2015[data2015['Region']=='Sub-Saharan Africa']['Happiness Score'].sort_values(ascending=True)
a.reset_index()
print('Unhappiest Country in Sub Saharan Africa Region')
print(data2015.loc[157])

Unhappiest Country in Sub Saharan Africa Region
Country                                        Togo
Region                           Sub-Saharan Africa
Happiness Rank                                  158
Happiness Score                               2.839
Standard Error                              0.06727
Economy (GDP per Capita)                    0.20868
Family                                      0.13995
Health (Life Expectancy)                    0.28443
Freedom                                     0.36453
Trust (Government Corruption)               0.10731
Generosity                                  0.16681
Dystopia Residual                           1.56726
Name: 157, dtype: object

In [0]:
uni_regions=data2015['Region'].unique()

In [67]:
uni_regions

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia'], dtype=object)

In [68]:
print("All the countries Region wise")
print(data2015[['Region','Country']].sort_values(by=['Region']))

All the countries Region wise
                         Region      Country
8     Australia and New Zealand  New Zealand
9     Australia and New Zealand    Australia
63   Central and Eastern Europe       Russia
61   Central and Eastern Europe      Croatia
129  Central and Eastern Europe      Georgia
..                          ...          ...
66               Western Europe       Cyprus
87               Western Europe     Portugal
101              Western Europe       Greece
18               Western Europe      Belgium
0                Western Europe  Switzerland

[158 rows x 2 columns]

In [0]:
d=data2015.groupby('Region',as_index=False)[['Country','Happiness Score']].max()

**Countries with Highest Happiness Score Region wise**

In [70]:
print("Countries with Highest Happiness Score Region wise\n\n",d)

Countries with Highest Happiness Score Region wise

                             Region         Country  Happiness Score
0        Australia and New Zealand     New Zealand            7.286
1       Central and Eastern Europe      Uzbekistan            6.505
2                     Eastern Asia          Taiwan            6.298
3      Latin America and Caribbean       Venezuela            7.226
4  Middle East and Northern Africa           Yemen            7.278
5                    North America   United States            7.427
6                Southeastern Asia         Vietnam            6.798
7                    Southern Asia       Sri Lanka            5.253
8               Sub-Saharan Africa        Zimbabwe            5.477
9                   Western Europe  United Kingdom            7.587

In [0]:
e=data2015.groupby('Region',as_index=False)[['Country','Happiness Score']].min()

**Countries with Lowest Happiness Score Region wise**

In [72]:
print("Countries with Lowest Happiness Score Region wise\n\n",e)

Countries with Lowest Happiness Score Region wise

                             Region      Country  Happiness Score
0        Australia and New Zealand    Australia            7.284
1       Central and Eastern Europe      Albania            4.218
2                     Eastern Asia        China            4.874
3      Latin America and Caribbean    Argentina            4.518
4  Middle East and Northern Africa      Algeria            3.006
5                    North America       Canada            7.119
6                Southeastern Asia     Cambodia            3.819
7                    Southern Asia  Afghanistan            3.575
8               Sub-Saharan Africa       Angola            2.839
9                   Western Europe      Austria            4.857

In [73]:
data2015[['Country','Happiness Score']]

         Country  Happiness Score
0    Switzerland            7.587
1        Iceland            7.561
2        Denmark            7.527
3         Norway            7.522
4         Canada            7.427
..           ...              ...
153       Rwanda            3.465
154        Benin            3.340
155        Syria            3.006
156      Burundi            2.905
157         Togo            2.839

[158 rows x 2 columns]

In [74]:
data2017[['Country','Happiness Score']]

                      Country  Happiness Score
0                      Norway            7.537
1                     Denmark            7.522
2                     Iceland            7.504
3                 Switzerland            7.494
4                     Finland            7.469
..                        ...              ...
150                    Rwanda            3.471
151                     Syria            3.462
152                  Tanzania            3.349
153                   Burundi            2.905
154  Central African Republic            2.693

[155 rows x 2 columns]

In [75]:
data2015=pd.read_csv("2015.csv")
data2017=pd.read_csv("2017.csv")
data2015.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [0]:
data2017.rename(columns={'Happiness.Rank':'Happiness Rank',
                         'Happiness.Score':'Happiness Score',
                         'Economy..GDP.per.Capita.':'Economy (GDP per Capita)',
                         'Health..Life.Expectancy.':'Health (Life Expectancy)',
                         'Trust..Government.Corruption.':'Trust (Government Corruption)',
                         'Dystopia.Residual':'Dystopia Residual'},inplace=True)

In [77]:
data2017.head()

       Country  ...  Dystopia Residual
0       Norway  ...           2.277027
1      Denmark  ...           2.313707
2      Iceland  ...           2.322715
3  Switzerland  ...           2.276716
4      Finland  ...           2.430182

[5 rows x 12 columns]

In [0]:
data2015.drop('Region',inplace=True,axis=1)

In [0]:
new_data=data2015.merge(data2017,on="Country",how="inner",sort=True)

Check

In [80]:
new_data.head()
new_data[new_data['Country']=='Benin']

   Country  ...  Dystopia Residual_y
13   Benin  ...             1.885631

[1 rows x 22 columns]

**COUNTRIES WHO BECAME UNHAPPY**

In [81]:
differ=new_data['Happiness Score_x']-new_data['Happiness Score_y']
new_data['Difference']=differ
print('Countries who became unhappy\n\n')
new_data[new_data['Difference']<0]['Country']

Countries who became unhappy

0              Afghanistan
2                  Algeria
4                Argentina
5                  Armenia
8               Azerbaijan
              ...
133    Trinidad and Tobago
134                Tunisia
135                 Turkey
136           Turkmenistan
137                 Uganda
Name: Country, Length: 74, dtype: object

In [0]:
minn=new_data['Difference'].min()

In [83]:
new_data[new_data['Difference']==minn]['Country']

72    Latvia
Name: Country, dtype: object

**Happiness Decreased by most amount**

In [84]:
new_data.loc[72]

Country                               Latvia
Happiness Rank_x                          89
Happiness Score_x                      5.098
Standard Error                        0.0464
Economy (GDP per Capita)_x           1.11312
Family_x                             1.09562
Health (Life Expectancy)_x           0.72437
Freedom_x                            0.29671
Trust (Government Corruption)_x      0.06332
Generosity_x                         0.18226
Dystopia Residual_x                  1.62215
Happiness Rank_y                          54
Happiness Score_y                       5.85
Whisker.high                         5.92026
Whisker.low                          5.77974
Economy (GDP per Capita)_y           1.26075
Family_y                             1.40471
Health (Life Expectancy)_y          0.638567
Freedom_y                           0.325708
Generosity_y                        0.153075
Trust (Government Corruption)_y    0.0738427
Dystopia Residual_y                  1.99366
Difference                            -0.752
Name: 72, dtype: object

# Task2
**script to download to training set**

In [0]:
#retrieving the data from the server
!wget "https://www.crcv.ucf.edu/data/UCF101/UCF101.rar"

--2020-05-10 15:41:39--  https://www.crcv.ucf.edu/data/UCF101/UCF101.rar
Resolving www.crcv.ucf.edu (www.crcv.ucf.edu)... 132.170.214.127
Connecting to www.crcv.ucf.edu (www.crcv.ucf.edu)|132.170.214.127|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6932971618 (6.5G) [application/rar]
Saving to: ‘UCF101.rar’

UCF101.rar          100%[===================>]   6.46G  15.0MB/s    in 7m 24s

2020-05-10 15:49:04 (14.9 MB/s) - ‘UCF101.rar’ saved [6932971618/6932971618]

In [0]:
#unzipping the rar file
!unrar x UCF101.rar

In [0]:
#moving the contents of rar file one folder up
!mv -f UCF-101/* /content

In [0]:
#removing the rar file
!rm UCF101.rar